<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="stdout" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.TTCCLayout">
			<param name="dateFormat" value="yyyy/MM/dd HH:mm:ss.SSS" />
		</layout>
	</appender>

	<appender name="default" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="/home/emmanuel/Downloads/conciliador.log"/>
		<param name="MaxFileSize" value="10MB" />
		<param name="MaxBackupIndex" value="100" />
		<layout class="org.apache.log4j.TTCCLayout">
			<param name="dateFormat" value="yyyy/MM/dd HH:mm:ss.SSS" />
		</layout>
	</appender>
	<appender name="default" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="/home/emmanuel/Downloads/conciliadorError.log"/>
		<param name="MaxFileSize" value="10MB" />
		<param name="MaxBackupIndex" value="100" />
		<param name="MaxBackupIndex" value="100" />
		<param name="Threshold" value="ERROR"/>
		<layout class="org.apache.log4j.TTCCLayout">
			<param name="dateFormat" value="yyyy/MM/dd HH:mm:ss.SSS" />
		</layout>
	</appender>

	<logger name="mx.com.interware.conciliadorMasivo" additivity="false">
		<level value="all" />
		<appender-ref ref="default" />
	</logger>

	<root>
		<priority value="info" />
		<appender-ref ref="stdout" />
	</root>

</log4j:configuration>